.home {
  position: absolute;
  width: 60%;
  height: 500px;
  background: #222;
  z-index: 1000;
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.home .profile__pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .profile__pic img {
  width: 300px;
  display: block;
  border-radius: 0.4rem;
}

.home .user__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2rem;
  color: #fff;
}

.logout {
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  cursor: pointer;
  border-radius: 0.4rem;
}

.user_actions {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.links {
  margin-top: 30px;
}

a {
  color: #fff;
  font-weight: 800;
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  cursor: pointer;
  border-radius: 0.4rem;
}
